/* CSS taken from GNOME Clocks. */

.clocks-button {
    font-size: 14px;
}

.clocks-spinbutton {
    font-size: 48px;
}

.clocks-stopwatch-label,
.clocks-timer-label {
    font-size: 48px;
}

.clocks-analog-frame.trough {
    color: mix(@theme_fg_color, @theme_bg_color, 0.85);
}

.clocks-analog-frame.progress {
    color: mix(@theme_fg_color, @theme_bg_color, 0.5);
}

.clocks-analog-frame.progress-fast {
    color: @theme_fg_color;
}

.clocks-laps-panel {
    border: 0;
}

.clocks-laps-panel > .frame:dir(ltr) {
    border-image: linear-gradient(to bottom,
                                  mix(@borders,@theme_bg_color,0.5))
                  0 0 0 1 / 20px 0px 20px 1px stretch;
}

.clocks-laps-panel > .frame:dir(rtl) {
    border-image: linear-gradient(to bottom,
                                  mix(@borders,@theme_bg_color,0.5))
                  0 1 0 0 / 20px 1px 20px 0px stretch;
}

.clocks-laps-panel .list,
.clocks-laps-panel .list-row {
    background-color: transparent;
}

.clocks-laps-panel .list-row {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    border-image: linear-gradient(to bottom,
                                  mix(@borders,@theme_bg_color,0.5))
                  0 0 1 0 / 0 20px 1px 20px stretch;
}

.clocks-laps-panel .first-lap-row {
    border-image: none;
    border-color: transparent;
}

.clocks-laps-panel .lap-time {
    font-weight: bold;
    padding-right: 20px;
}

/* disguise insensitive spinbuttons as normal labels */
.spinbutton.clocks-timer-label,
.spinbutton.clocks-timer-label .button {
    border-color: transparent;
    background-image: none;
    box-shadow: none;
}

.spinbutton.clocks-timer-label {
    color: @theme_fg_color;
}

.spinbutton.clocks-timer-label .button {
    color: transparent;
}

@keyframes clocks-blink {
    0% { color: @theme_fg_color; }
    100% { color: @insensitive_fg_color; }
}

.clocks-paused .clocks-timer-label {
    animation-name: clocks-blink;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    animation-duration: 1s;
}

